html, body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
}

.fps-box{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: green;
    color: white;
    padding: 10px;
}


.shadow{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

#login-box{
    color: white;
    position: relative;
    width: 400px;
    height: 200px;
    background-color: #333;
    text-align: center;
    padding: 10px;
}


#login-box label{
    display: block;
    padding-bottom: 10px;
}

.shadow-dead, .shadow-inactive{
    color: white;
    display: none;
}

#panel{

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    color: white;
    align-items: center;
}

.shadow-game-end{
    display: none;
    color: white;
}